body, html {
  height: 0%;

}

nav nav-tabs {

height: 90%;
background-position: 0%;
background-repeat: no-repeat;
background-size: cover;
background-color: #E7DFD8;
}

.index{
max-height: 100%;
max-width: 100%;
background-size: cover;
background-repeat: no-repeat;
background-color: #E7DFD8;

}

.body{
min-width: 100%;
min-height: 100vh;
background-repeat: no-repeat;
background-size: cover;
background-color: #E7DFD8;
}

.parag1{
text-align: center;
font-size: 35px; 
padding-right: 10%;
padding-left: 10%;
padding-top: 10%;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.parag2{
text-align: center;
font-size: 35px; 
padding-top: 5%;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.parag3{
text-align: center;
font-size: 110px;
padding-top: 20%;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container{
  align-items:center;
  justify-content: center;
  display: flex;
  padding-top: 10%;
  }

  .blg1{
    background-color: #E7DFD8;
  }

  .header{
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 35px;
    font-style: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .bp1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
