body, html {
    height: 90%;
}

nav nav-tabs {
  background-image: url("images/HOME\ \(1\).png");
  height: 90%;
  background-position: 0%;
  background-repeat: no-repeat;
  background-size: cover;
}
